* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  height: 100vh;
  width: 100vw;
}

.container {
  margin: 2rem auto;
  height: 70vh;
  width: 60vw;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.employees-list {
  overflow-y: scroll;
  height: 85%;
  width: 100%;
}

.form-container {
  display: none;
  height: 40vh;
  width: 30vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container input[type="text"],
.form-container button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

.form-container button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #0056b3;
}

.employees-list {
  margin-top: 20px;
}

.employee {
  cursor: pointer;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.employee:hover {
  background-color: #e9e9e9;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.close-button:hover {
  color: #007bff;
}

.add-employee-btn {
  background-color: #007bff;
  padding: 1rem 4rem;
  color: white;
}
